<div id="header">
    <video id="header-video" autoplay loop muted>
        <source src="assets/images/Ken_Clip_01.MOV" type="video/mp4">
    </video>
    <div class="content">
        
        <div class="listen-container">
            <a href="https://soundcloud.com/kenzilimtong/housewerk-iv" target="_blank">
                <button class="listen-now-btn">Listen Now</button>
            </a>
            
        </div>
        <div class="header-scroll">
            <h2>Scroll Down</h2>
            <img src="assets/images/white-arrow.png" alt="" class="down-arrow">
        </div>
    </div>
</div>