<div id="social-media">
  <a href="https://www.instagram.com/" target="_blank">
    <div class="social-media-container">
      <img src="assets\images\instagram.png" alt="">
    </div>
  </a>


  <a href="https://open.spotify.com/user/kenzilimtong" target="_blank">
    <div class="social-media-container">
      <img src="assets\images\spotify.png" alt="">
    </div>
  </a>

  <a href="https://soundcloud.com/kenzilimtong" target="_blank">
    <div class="social-media-container">
      <img src="assets\images\soundcloud.png" alt="" class="soundcloud">
    </div>
  </a>
</div>