<div id="social-media-content">
  <a href="https://www.instagram.com/" target="_blank">
    <div class="social-media-container">
      <img src="assets\images\instagram.png" alt="">
    </div>
  </a>


  <a href="https://open.spotify.com/" target="_blank">
    <div class="social-media-container">
      <img src="assets\images\spotify.png" alt="">
    </div>
  </a>

  <a href="https://music.apple.com/us/browse" target="_blank">
    <div class="social-media-container">
      <img src="assets\images\apple-music.png" alt="">
    </div>
  </a>
</div>