#social-media-content {
    flex: 1;
    height: 400px;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.social-media-container {
    height: 50px;
    width: 100px;
    background-color: white;
    margin: 0 15px;
    cursor: pointer;
}
