<nav class="navbar">
  <a href="#" class="navbar-top-icon">
    <img src="assets/images/ken_logo.jpg" alt="" class="ken-logo">
  </a>
  <ul class="navbar-menu">
    <li><a (click)="toggleContent()" class="menu-link">
      <span class="clickable-area">
        <span></span>
        <span></span>
      </span>
    </a></li>
  </ul>
</nav>

<div id="menu-content" [ngClass]="{'hidden': isMenuHidden, 'visible': !isMenuHidden}">
  <ul>
    <li><a href="javascript:void(0)" (click)="scrollToSection('header')">Home</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('music')">Music</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('social')">About Me</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('social')">Social</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('playlist')">Playlist</a></li>

  </ul>
</div>