#contact-info {
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: white;
}

h1 {
    font-size: 32px;
    background-color: rgb(199, 177, 146);
    border-radius: 20%;
    padding: 8px 4px;
}

.about-me{
    font-size: 25px;
    text-align: center;
    background-color: #98aeb6;
    border-radius: 20px;
    padding: 8px 2px;
    width: 75%;
}

p {
    font-size: 25px;
    text-align: center;
    background-color: #98aeb6;
    border-radius: 20px;
    padding: 8px 2px;
    
    width: 30%;
}