#contact-info-content {
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: white;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 32px;
    text-align: center;
}