<div id="music-content">

  <a href="https://soundcloud.com/kenzilimtong/housewerk-iv" target="_blank">

    <div class="music-container">
      <img src="assets\images\housewerk-IV.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk IV</p>
      </div>
    </div>

  </a>

  <a href="https://soundcloud.com/kenzilimtong/housewerk-iii" target="_blank">

    <div class="music-container">
      <img src="assets\images\housewerk-III.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk III</p>
      </div>
    </div>

  </a>

  <a href="https://soundcloud.com/kenzilimtong/house-werk-2" target="_blank">

    <div class="music-container">
      <img src="assets\images\housewerk-II.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk II</p>
      </div>
    </div>

  </a>

  <a href="https://soundcloud.com/kenzilimtong/house-mix-2" target="_blank">

    <div class="music-container">
      <img src="assets\images\housewerk-I.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk I</p>
      </div>
    </div>

  </a>

</div>