<div id="music-content">

  <a href="https://www.youtube.com" target="_blank">

    <div class="music-container">
      <img src="assets\images\Ken_Set_02.JPG" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Song INFO 1</p>
      </div>
    </div>

  </a>

  <a href="https://www.youtube.com" target="_blank">

    <div class="music-container">
      <img src="assets\images\Ken_Set_02.JPG" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Song INFO 2</p>
      </div>
    </div>

  </a>

  <a href="https://www.youtube.com" target="_blank">

    <div class="music-container">
      <img src="assets\images\Ken_Set_02.JPG" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Song INFO 3</p>
      </div>
    </div>

  </a>

</div>