<div id="music-content">

  <a href="javascript:void(0)" (click)="showPopup(3)">

    <div class="music-container">
      <img src="assets\images\housewerk-4.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk IV</p>
      </div>
    </div>

  </a>

  <a href="javascript:void(0)" (click)="showPopup(2)">

    <div class="music-container">
      <img src="assets\images\housewerk-3.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk III</p>
      </div>
    </div>

  </a>

  <a href="javascript:void(0)" (click)="showPopup(1)">

    <div class="music-container">
      <img src="assets\images\housewerk-2.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk II</p>
      </div>
    </div>

  </a>

  <a href="javascript:void(0)" (click)="showPopup(0)">

    <div class="music-container">
      <img src="assets\images\housewerk-1.jpg" alt="" class="song-background">

      <div class="song-info-container">
        <div class="play-container">
          <img src="assets/images/play.png" alt="">
        </div>
        <p>Housewerk I</p>
      </div>
    </div>

  </a>


  <app-popup *ngIf="isPopupVisible" (close)="closePopup()">
    <img [src]="popupImageUrl" alt="" class="popup-song-background">
    <div class="popup-song-info-container">

      <p class="song-title">{{ popupSongName }}</p>

      <div class="popup-song-links" >
        <a [href]="popupSoundcloudUrls" target="_blank">
          <div>
            <img src="assets/images/soundcloud.png" alt="">
            <p>SOUNDCLOUD</p>
          </div>
        </a>

        <a href="https://open.spotify.com/user/kenzilimtong" target="_blank">
          <div class="popup-song-links">
            <img src="assets/images/spotify.png" alt="">
            <p>SPOTIFY</p>
          </div>
        </a>
      </div>
    </div>
  </app-popup>

</div>